.footer {
    display: flex;
    background: var(--accent);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .socials {
        display: flex;
        margin-left: 3rem;
        justify-self: flex-end;  

        svg {
            transition: all .4s ease;
            padding: 0 1rem;
            width: 30px;
            &:hover {
                color: var(--scrollbar);
            }
        }
    }

    @media (max-width: 640px) {
        justify-content: center;
        .socials {
            margin-top: 1rem;
        }
    }

    .links {
        display: flex;

        .column {
            display: flex;
            flex-direction: column;
            padding: 1rem;
    
            span {
                font-size: 1.1rem;
                font-weight: bold;
                color: var(--scrollbar);
                margin-bottom: 0.1rem;
            }
    
            a {
                margin: 0.1rem;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media (max-width: 640px) {
        .column {
            padding: 0.5rem;
            font-size: 0.8rem;
            span {
                font-size: 1rem;
            }
        } 
    }
}
