.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .imagine {
        font-size: 3rem;
        border-bottom: 0.2rem solid var(--scrollbar);
        .safe {
            color: var(--scrollbar);
        }
    }

    @media (max-width: 640px) {
        .imagine {
            font-size: 1.7rem;
        }
    }

    .screenshot {
        width: 65%;
        margin-top: -0.5rem;
        margin-bottom: 2rem;
        pointer-events: none;
        box-shadow: rgb(0 0 0 / 20%) 0 5px 30px;

        > div {
            position: unset !important;
        }

        .image {
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }
}
